In [3]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [14]:
print("even") if num %2 == 0 else print("odd")

even

In [16]:
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [18]:
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  -500

Negative

In [20]:
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  0

Zero

In [24]:
L = [1,9,2,10,56,89]
[3*x for x in L]

[3, 27, 6, 30, 168, 267]

In [26]:
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [32]:
L = [1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [34]:
sal = [40000,50000,60000,70000]
print(sal)

[40000, 50000, 60000, 70000]

In [46]:
sal.append(80000)
print(sal)

[40000, 50000, 60000, 70000, [80000], 80000, 80000, 80000]

In [52]:
sal = [40000,50000,60000,70000]
[(x*1.2 if x <= 60000 else x) for x in sal]

[48000.0, 60000.0, 72000.0, 70000]

In [56]:
sal.append(90000)
print(sal)

[40000, 50000, 60000, 70000, 90000]

In [58]:
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
print(d1)

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [64]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [66]:
 def mean_value(given_list):
     total = sum(given_list)
     average_value = total/len(given_list)
     return average_value

In [68]:
L = {1,2,3,4,5,6,7,8,9,10}
mean_value(L)

5.5

In [70]:
a = ("Good Morning Srujan")
print(a)

Good Morning Srujan

In [72]:
  def avg_value(*n):
      l = len(n)
      average = sum(n)/1
      return average

In [76]:
avg_value(10,20,60,100,200)

390.0